body {
  margin: 0;
}

.hero-section {
  background-color: #e1ebe8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud-right {
  margin-left: 500px;
}

.cloud-left {
  margin-right: 500px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 100% 0;
  margin-right: 500px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.navlinks {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
